@font-face {
    font-family: 'AlegreyaRegular';
    src: url('../fonts/alegreya-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaBold';
    src: url('../fonts/alegreya-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaBold_Italic';
    src: url('../fonts/alegreya-bolditalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('../fonts/nunito-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoMedium_Italic';
    src: url('../fonts/nunito-mediumitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/nunito-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoBold_Italic';
    src: url('../fonts/nunito-bolditalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Root and Custom Properties */ 

html{
    /* Light Mode Colors */
    --background-color-light:#FFFFFA;
    --main-pink:#F67CA7;
    --dark-pink-hover: #FFD7E5;
    --dark-teal:#17BDB3;
    --dark-purple:#D373A7;
    --dark-pink:#E74C82;
    --dark-text:#222020;

    /* Fonts */
    --font-header: 'AlegreyaRegular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-header-bold: 'AlegreyaBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-header-italic: 'AlegreyaBold_Italic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-body: 'NunitoRegular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-body-bold: 'NunitoMedium_Italic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-body-bold: 'NunitoBold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-body-bold-italic: 'NunitoBold_Italic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    /* Navigation */
    --menu-count: 4; 

    --rhythm: 1.5rem;
    font-size: 18px;
}

*{
    color: var(--dark-text);
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: .2s linear;
}

/* Body */
body {
    background-color: var(--background-color-light);
}

h1 {
    font-family: var(--font-header);
    color: var(--dark-pink-light);
    font-weight: 400;
    font-size: 2.18rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 0.8;
    margin-top: var(--rhythm);
    padding: 0 0.5rem;
    padding-bottom: 15px;
}

h2 {
    font-family: var(--font-header);
    font-weight: 625;
    font-size: 1.625rem;
    text-align: center;
    color: var(--dark-pink-light);
}

h3 {
    font-family: var(--font-header-italic);
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
}

p {
    color: var(--dark-text-light);
    font-family: var(--font-body);
    font-size: .8rem;
    font-weight: 500;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.2rem;
    /*text-wrap: pretty;*/
}

a {
    font-family: var(--font-body-bold);
}

ul {
    font-family: var(--font-body);
}

ul li {
    margin-bottom:5px;
}

h2 p {
    font-size: 1.8rem;
}

/* navigation */
nav {
    background-color: var(--main-pink);
    height: 80px;
    width: 100%;
}

label.logo img {
    height: 80px;
    width: 80px;
}

 nav ul {
    float: right;
    margin-right: 20px;
 }

 nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 }

 nav ul li a {
    color: var(--background-color-light);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
 }

 /*a.active, a:hover{
    background: var(--dark-purple);
    transition: .5s;
 }*/

 .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }

 #check {
    display: none;
 }

 /* footer */

 footer {
    background-color: var(--dark-pink);
 }

 .footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
 }

.footerIcons {
    display: flex;
    justify-content: center;
}

.footerIcons a {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.footerIcons a i{
    font-size: 2em;
    color: var(--dark-teal);
    opacity: 0.9;
}

/* Hover effect on Social Media Icons */
.footerIcons a:hover {
    background-color: var(--dark-pink);
    transition: 0.5s;
}

.footerIcons a:hover i{
    color: var(--background-color-light);
    transition: 0.5s;
}

.footerNav {
    margin: 30px;
}

.footerNav ul {
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: var(--background-color-light);
    margin: 20px;
    font-size: 1.1rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

 /* Responsive Nav */
 @media (max-width:1000px) {
    nav ul li a {
        font-size: 16px;
    }
 }

 @media (max-width:834px) {
    /* navigation is responsive when in tablet mode */
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--dark-pink);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a.active, a:hover {
        background: none;
        color: var(--dark-pink-hover);
    }
    #check:checked ~ ul {
        left: 0;
    }
    /* footer responsive when tablet mode */
    .footerNav {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
 }

/*homepage*/

.profileimg {
    width:80vw;
    margin: auto;
    display: flex;
    align-items:flex-end;
    padding: 15px;
    border-radius: 25px;
  }



 /* Project Containers */

.workAndProjects img {
    height: auto;
    width: 100%;
} 

.container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .8rem;
}

.card {
    width: 325px;
    background-color: var(--dark-pink);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
    color: var(--background-color-light);
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

card-content p {
    font-size: 1rem;
    line-height: 1.3;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--background-color-light);
    border-radius: 4px;
    margin-top: 16px;
    color: var(--dark-teal);
}

@media screen and (min-width: 1000px) {
    .profileimg {
        content: url(../images/home/my-profile-large.png);
    }
   
 }

 @media (min-width: 834px) {
    .profileimg {
        content: url(../images/home/my-profile-medium.png);
    }
 }

 .textUnderProfile {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    line-height: 25px;
    color: var(--dark-teal);
    font-weight: 700;
}