@font-face {
    font-family: 'AlegreyaRegular';
    src: url('../fonts/alegreya-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaBold';
    src: url('../fonts/alegreya-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AlegreyaBold_Italic';
    src: url('../fonts/alegreya-bolditalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoRegular';
    src: url('../fonts/nunito-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoMedium_Italic';
    src: url('../fonts/nunito-mediumitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoBold';
    src: url('../fonts/nunito-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoBold_Italic';
    src: url('../fonts/nunito-bolditalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Root and Custom Properties */ 

html{
    /* Light Mode Colors */
    --background-color-light:#FFFFFA;
    --main-pink:#F67CA7;
    --dark-pink-hover: #FFD7E5;
    --dark-teal:#17BDB3;
    --dark-purple:#D373A7;
    --dark-pink:#E74C82;
    --dark-text:#222020;

    /* Fonts */
    --font-header: 'AlegreyaRegular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-header-bold: 'AlegreyaBold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-header-italic: 'AlegreyaBold_Italic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-body: 'NunitoRegular', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-body-bold: 'NunitoMedium_Italic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-body-bold: 'NunitoBold', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-body-bold-italic: 'NunitoBold_Italic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    /* Navigation */
    --menu-count: 4; 

    --rhythm: 1.5rem;
    font-size: 18px;
}

*{
    color: var(--dark-text);
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: .2s linear;
}

/* Body */
body {
    background-color: var(--background-color-light);
}

h1 {
    font-family: var(--font-header);
    color: var(--dark-pink-light);
    font-weight: 400;
    font-size: 2.18rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 0.8;
    margin-top: var(--rhythm);
    padding: 0 0.5rem;
    padding-bottom: 15px;
}

h2 {
    font-family: var(--font-header);
    font-weight: 625;
    font-size: 1.625rem;
    text-align: center;
    color: var(--dark-pink-light);
}

h3 {
    font-family: var(--font-header-italic);
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
}

p {
    color: var(--dark-text-light);
    font-family: var(--font-body);
    font-size: .8rem;
    font-weight: 500;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.2rem;
    /*text-wrap: pretty;*/
}

a {
    font-family: var(--font-body-bold);
}

ul {
    font-family: var(--font-body);
}

ul li {
    margin-bottom:5px;
}

h2 p {
    font-size: 1.8rem;
}

/* navigation */
nav {
    background-color: var(--main-pink);
    height: 80px;
    width: 100%;
}

label.logo img {
    height: 80px;
    width: 80px;
}

 nav ul {
    float: right;
    margin-right: 20px;
 }

 nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
 }

 nav ul li a {
    color: var(--background-color-light);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
 }

 /*a.active, a:hover{
    background: var(--dark-purple);
    transition: .5s;
 }*/

 .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }

 #check {
    display: none;
 }

 
/*homepage*/

.profileimg {
    width:80vw;
    margin: auto;
    display: flex;
    align-items:flex-end;
    padding: 15px;
    border-radius: 25px;
  }

  /* Responsive Nav */
  @media (max-width:1000px) {
    nav ul li a {
        font-size: 16px;
    }
 }

 @media (max-width:834px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--dark-pink);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a.active, a:hover {
        background: none;
        color: var(--dark-pink-hover);
    }
    #check:checked ~ ul {
        left: 0;
    }
 }


 /* Home Page Containers */

.workAndProjects img {
    height: auto;
    width: 100%;
} 

@media screen and (min-width: 1000px) {
    .profileimg {
        content: url(../images/home/my-profile-large.png);
    }
    /*.box {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 900px;
        margin: 20px;
    }
    .box img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    .box p h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        padding: 40px;
    }
    .container .box{
        display: grid;
        grid-template-columns: 420px 1fr 1fr;
        display: flex;
        flex-direction: column;
        min-height: 150px;
        max-width: 1400px;
    }
    .box h3 p btn{
        align-items: left;
    } */

    .container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 900px;
        height: 380px;
        background-color:  var(--dark-pink);
        margin: 20px;
    }

    .container .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .container .details {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .container .details h3 {
        text-transform: uppercase;
        font-size: 2em;
        line-height: 1em;
        color: var(--background-color-light);
    }

    .container .details p {
        max-width: 85%;
        margin-left: 15%;
        font-size: 18px;
        color: var(--background-color-light);
        margin-bottom: 36px;
    }
    
    .container .details .btn {
        background-color: var(--background-color-light);
        color: var(--dark-teal);
        border: none;
        outline: none;
        padding: 15px 20px;
        margin-top: 5px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 40px;
        text-align: center;
    }
 }

 @media (min-width: 834px) {
    .profileimg {
        content: url(../images/home/my-profile-medium.png);
    }
 }

 .textUnderProfile {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    line-height: 25px;
    color: var(--dark-teal);
    font-weight: 700;
}